@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari, and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }


        /* Hide scrollbar for IE, Edge, and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}


/*color */
:root {
    --primary: #B88E2F;
    --box-home: #FFF3E3;
    --box-product-home: #F4F5F7;
    --overlay-hover-home: #3A3A3A;
    --discount: #E97171;
    --new-product: #2EC1AC;
    --more-home: #FCF8F3;
    --address-footer: #9F9F9F;

    /* shop */
    --bar-bg: #F9F1E7;
    --feature: #FAF3EA;
}

body {
    font-family: 'Poppins', sans-serif;
}